[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdParty/an-anime-game-launcher"]
	path = 3rdParty/an-anime-game-launcher
	url = https://gitlab.com/KRypt0n_/an-anime-game-launcher.git
        branch = 2.2.1
[submodule "3rdParty/wribbon"]
	path = 3rdParty/wribbon
	url = https://github.com/wteamit/wribbon.git
[submodule "3rdParty/qt-ribbon"]
	path = 3rdParty/qt-ribbon
	url = https://github.com/nedrysoft/qt-ribbon.git
[submodule "3rdParty/SettingsDialog"]
	path = 3rdParty/SettingsDialog
	url = https://github.com/nedrysoft/SettingsDialog.git
[submodule "3rdParty/nedrysoft/SettingsDialog"]
	path = 3rdParty/nedrysoft/SettingsDialog
	url = git@github.com:nedrysoft/SettingsDialog.git
[submodule "3rdParty/nedrysoft/Ribbon"]
	path = 3rdParty/nedrysoft/Ribbon
	url = git@github.com:nedrysoft/qt-ribbon.git
[submodule "3rdParty/nedrysoft/ThemeSupport"]
	path = 3rdParty/nedrysoft/ThemeSupport
	url = git@github.com:nedrysoft/ThemeSupport.git
[submodule "3rdParty/nedrysoft/ComponentSystem"]
	path = 3rdParty/nedrysoft/ComponentSystem
	url = git@github.com:cybik/componentsystem.git
[submodule "3rdParty/xdg"]
	path = 3rdParty/xdg
	url = git@github.com:azubieta/xdg-utils-cxx.git
[submodule "3rdParty/libfyaml"]
	path = 3rdParty/libfyaml
	url = git@github.com:pantoniou/libfyaml.git
