[submodule "3rdParty/yaml-cpp"]
	path = 3rdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rdParty/an-anime-game-launcher"]
	path = 3rdParty/an-anime-game-launcher
	url = https://gitlab.com/KRypt0n_/an-anime-game-launcher.git
[submodule "3rdParty/wribbon"]
	path = 3rdParty/wribbon
	url = https://github.com/wteamit/wribbon.git
